<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ESCAMBO </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Importa as fontes para este projeto-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Importa o CSS utilizado neste projeto -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top" ng-app="escambo" ng-controller="CadastroController">

    <!-- Navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo-Escambo.png" class="logo"></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fa fa-bars"></i>
                </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
        
                             <li class="nav-item">
                                 <a class="nav-link js-scroll-trigger" href="perfil.html">Perfil</a>
                             </li>
                             <li class="nav-item">
                                    <a class="nav-link js-scroll-trigger" href="perfil.html">Mensagens</a>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="index.html#services">Sobre o Escambo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="index.html#portfolio">Escambos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="index.html#contact">Colabore</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        
    
    


        <!-- Cadastro -->

        <section class="section2">
                
            <div class="container">
            <form method="post" ng-submit="salvarUsuario(usuario)" ng-show="showUsuario">
                        <h2 id="cadastre-se">Cadastre-se </h2>    
                <div class="row">
                        <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Usuário:</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Crie seu usuário" ng-model="usuario._id" required>
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>

                        <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Senha:</label>
                                <input type="password" class="form-control" placeholder="*******" ng-model="usuario.senha">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Nome completo:</label>
                                <input type="text" class="form-control" placeholder="Insira seu nome sem abreviações aqui" ng-model="usuario.nome_completo">
                        </div>
                        <div class="col">
                                <div class="form-group">
                                        <label for="exampleInputPassword1">Data de nascimento:</label>
                                        <input type="date" class="form-control"  placeholder="ex: 00/00/0000" ng-model="usuario.nascimento">
                                </div>
                        </div>

                        <div class="col">
                                <div class="form-group">
                                        <label for="exampleInputPassword1">CPF:</label>
                                        <input type="text" class="form-control" placeholder="123.456.789-00" ng-model="usuario.cpf">
                                </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
                                    <div class="form-group">
                                            <label for="exampleInputPassword1">Email:</label>
                                            <input type="email" class="form-control" placeholder="exemplo@email.com" ng-model="usuario.email">
                                       </div>
                            </div>
                            <div class="col">
                                    <div class="form-group">
                                            <label for="exampleInputPassword1">Telefone:</label>
                                            <input type="text" class="form-control" placeholder="ex: (DDD) 1234-5678" ng-model="usuario.telefone">
                                    </div>
                            </div>
                    </div>
                                    
                    <div class="form-group">
                            <label for="exampleInputPassword1">Endereço:</label>
                            <div class="row">
                                <div class="col-md-3">
                                      <input type="text" class="form-control" id="cep" placeholder="CEP" ng-model="usuario.endereco.CEP" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);">
                                </div>
                                    <div class="col-md-6">
                                            <input type="text" id="rua" class="form-control" placeholder="Logradouro" ng-model="usuario.endereco.logradouro">
                                    </div>
                                    <div class="col-md-3">
                                            <input type="text" id="numero" class="form-control" placeholder="N° residência" ng-model="usuario.endereco.numero">
                                    </div>
                                    <div class="col">
                                                <input type="text" id="bairro" class="form-control" placeholder="Bairro" ng-model="usuario.endereco.bairro"> 
                                    </div>
                             </div>
                            <br>
                            <div class="row">
                                   
                                    <div class="col">
                                            <input type="text" class="form-control" id="cidade" placeholder="Cidade" ng-model="usuario.endereco.cidade">
                                    </div>
                                    <div class="col">
                                            <input type="text" class="form-control" id="estado" placeholder="Estado" ng-model="usuario.endereco.estado">
                                    </div>
                                    <div class="col">
                                            <input type="text" class="form-control" id="pais" placeholder="País" ng-model="usuario.endereco.pais">
                                     </div>
                                </div>
                             <br>
                    </div>
                    

                    <button type="submit" class="btn btn-primary" id="btCadastrar">Cadastrar</button>
                  </form>

                  <form ng-submit="salvarServico(servico)" ng-show="showServico">

                  <div class="alert alert-info" id="alerta" role="alert">
                        <span class="oi oi-plus"></span> Adicionar serviço para escambar
                </div>
                

                <div class="form-group">
                        <label for="exampleInputPassword1">Nome do serviço:</label>
                        <input type="text" class="form-control"  placeholder="ex: Aulas de Inglês" ng-model="servico.nome">
                </div>

                <div class="form-group">
                        <label for="exampleInputPassword1">Descrição do Serviço:</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Conte um pouco sobre o serviço que você pode escambar" ng-model="servico.descricao">
                </div>
                
                <div class="form-group">
                        <label for="exampleInputPassword1">Disponibilidade de Escambar:</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="ex: Fim de semana; Dias da semana; Todos os dias a noite; " ng-model="disponibilidade">
                </div>

                <div class="form-group">
                        <select class="form-control" ng-model="servico.categoria">
                                <option>Selecione uma categoria</option>
                                <option value="Aulas">Aulas</option>
                                <option value="Beleza">Beleza</option>
                                <option value="Consertos">Consertos</option>
                                <option value="Domestico">Doméstico</option>
                                <option value="Aluguel">Aluguel</option>
                                <option value="Lazer">Lazer</option>
                                <option value="Outros">Outros</option>

                        </select>
                </div>
                <br>
                        <div class="form-group">
                          <label for="exampleFormControlFile1"> Imagem</label>
                          <input type="link" class="form-control-file" id="exampleFormControlFile1" ng-model="servico.img">
                        </div>

                        <button type="submit" class="btn btn-primary" id="btCadastrar">Cadastrar</button>
                      
                  </form>

                  <div ng-show="sucesso">

                        <h2 id="hGif">Serviço cadastrado com sucesso! <br><a href="index.html#portfolio">Clique aqui</a> e veja todos os serviços</h2>
                          <img id="imgGif" src="img/sucesso.gif">
                        

                </div>
            </div>
                   
                    
                
                
                
                
                </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    
    <script src="js/angular.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.js"></script>    
    <script src="js/app.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.js"></script>


    
    <!-- Importa o Javascript utilizado neste projeto -->
    <script src="js/script.js"></script>

</body>

</html>